POSTGRES_DB=lloka_dev
POSTGRES_USER=lloka
POSTGRES_PASSWORD=lloka

JWT_SECRET=lloka-dev-secret-key-change-in-prod-min-32-chars!!
JWT_ISSUER=lloka-api
JWT_AUDIENCE=lloka-client
JWT_EXPIRES_IN_DAYS=7

APPLY_MIGRATIONS_ON_START=true
